<!-- ~~~=| Footer START |=~~~ -->
<footer class="footer_area">
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer_bottom_box">
                        <p> {{site.copyright}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ~~~=| Footer END |=~~~ -->


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
//    write("The contents of " + getCurrentFolder());
//alert(getCurrentFolder+"sa");
    fileName = findFirstFile("*.*"); // Find the first file matching the filter
    alert(fileName);
    while(fileName.length)
    {
        write(fileName);
        fileName = findNextFile();  // Find the next file matching the filter
    }
</script>