<!-- ~~~=| Header START |=~~~ -->
<header class="header_area">

    <!-- ~~~=| Logo Area START |=~~~ -->
    <div class="header_logo_area">
        <div class="" style="padding-left: 15px; padding-right: 15px;">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="logo"><a href="{{site.baseurl}}/index.html"><img style="width: 200px !important;" src="{{site.baseurl}}/images/cryptoLab.png" alt="Site Logo"
                                                                style="width: 80%;"/></a></div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <!-- ~~~=| Main Navigation START |=~~~ -->
                    <!--<div class="mainnav">-->
                        <!--<div class="container">-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                                    <!--<nav class="main_nav_box">-->
                                        <!--<ul id="nav">-->
                                            <!--<li class="nav_items"><a href="">Session Plan</a>-->
                                            <!--</li>-->
                                            <!--<li class="nav_lifeguide"><a href="">Resources</a>-->
                                            <!--</li>-->
                                            <!--<li class="nav_gadgets"><a href="">Useful Articles</a></li>-->
                                            <!--<li class="nav_video"><a href="">Video</a></li>-->
                                        <!--</ul>-->
                                    <!--</nav>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!-- ~~~=| Main Navigation END |=~~~ -->
                </div>
            </div>
        </div>
    </div>
    <!-- ~~~=| Logo Area END |=~~~ -->

</header>
<!-- ~~~=| Header END |=~~~ -->